<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Leccion Yoselyn Velez </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-align-items-center" class="ion-align-items-center">
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://th.bing.com/th/id/R.96292083364299258fc167d327323f4b?rik=3TbdvdnUguTgGQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-wnyg37xcY2A%2fUUuZV1_69_I%2fAAAAAAAAA4s%2fPVdPUwe8t-s%2fs1600%2fCAE%2bEL%2bSOL%2bA%2bLA%2bORILLA%2bDEL%2bMAR.jpg&ehk=j1JW9lEviFFrKcbP%2fsjHFx7IBXpXAeOJuigWQsgEkbk%3d&risl=&pid=ImgRaw&r=0">
    </ion-avatar>
    <ion-label>Prueba Avatar</ion-label>

  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/OIP.nQs75jNo7omgeU9cJjRDtAHaFj?pid=ImgDet&rs=1">
    </ion-avatar>
    <ion-label>Prueba Avatar 2</ion-label>

  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/OIP.mBdFOB4mPEGaz01CElRmHgHaE7?pid=ImgDet&rs=1">
    </ion-avatar>
    <ion-label>Prueba Avatar tres</ion-label>

  </ion-item>
  <!-- </ion-content>
-content [fullscreen]="true"> -->
  <ion-content>
    <ion-button color="primary">Azul</ion-button>
    <br>
    <ion-button color="secondary">Celeste</ion-button>
    <br>
    <ion-button color="tertiary">Morado</ion-button>
    <br>
    <ion-button color="success">Verde</ion-button>
    <br>
    <ion-button color="warning">Amarillo</ion-button>

    <br>
    <ion-button color="danger">Rojo</ion-button>
    <br>
    <ion-button color="light">Blanco</ion-button>
    <br>
    <ion-button color="medium">Plomo</ion-button>
    <br>
    <ion-button color="dark">Negro</ion-button>
  </ion-content>
  class="ion-padding">
  <h1>Hola mundo!!</h1>
</ion-content>